/* Logo del encabezado y navegación*/
.logo img {
  height: 30px;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__list a {
  font-size: 0.85rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  transition: color 0.3s;
}

.nav__list a:hover {
  color: #ff90e8; 
}

/* Subtítulo */
.portfolio__subtitle {
  font-size: 0.75rem; 
  font-weight: 300;
  color: #000000;
  text-align: center; 
  margin-bottom: 0.3rem; 
  margin-top: -1rem; /* un poco más arriba del título */
}

/* PORTAFOLIO */
.portfolio__title {
  font-family: var(--font-deco);
  font-size: 9rem;
  line-height: 1;
  background: var(--gradient-portafolio);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0;
}

.portfolio__image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}


.portfolio__content {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1.2rem;                   
 flex-wrap: wrap;
 text-align: center;
  
}


/* contenedores*/
.portfolio__text {
  flex:2;
  min-width: 200px;
}
.portfolio__image {
  display: flex;
  align-items: center;         
  justify-content: center;
  margin-top: 0;               
  margin-left: 0;              
}
